<%-include (`../headerLogin`, {title: `Register to Course`, linkCourse: `/students/courseList`, linkHome: ``,statusHome: ``, statusCourse: `active`})%>
    <h1>Add New Course</h1>
    <button onclick="window.history.back()" class="btn btn-secondary my-2 my-sm-0">Back to Course's List</button><br><br>
    <form action="/students/courses/add/<%=studentData.id%>" method="POST">
    <label for="CourseId">Choose New Course:</label><br>
    <select name="CourseId" id="CourseId">
        <option value="" selected disabled>--select course--</option>
        <%data.forEach(item => {%>
            <option value="<%=item.id%>"><%=item.name%></option>
        <%})%>
    </select><br><br>
    <button type="submit" class="btn btn-primary my-2 my-sm-0">Add Course</button>
    </form>
    <%-include (`../script`)%>
    <%-include (`../footer`)%>