<%-include (`../headerLogin`, {title: `Student's Page`, linkCourse: `/students/courseList`, linkHome: `/students/${StudentId}`,statusHome: ``, statusCourse: `active`})%>
    <h1><%=data.name%></h1>
    <h3>Instructor: <%=data.Instructor.full_name%></h3>
    <p><%=data.description%></p>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>No.</th>
                <th>Chapter</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
            <%let counter = 1%>
           <%data.Chapters.forEach(item => {%>
                <tr>
                    <td><%=counter%></td>
                    <td><%=item.name%></td>
                    <td><%=item.content%></td>
                </tr>
                <%counter++%>
            <%})%>
        </tbody>
    </table>
    <button onclick="window.history.back()" class="btn btn-secondary my-2 my-sm-0">Back to Course's List</button>
    <%-include (`../script`)%>
    <%-include (`../footer`)%>