<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapter's Page</title>
</head>
<body>
    <h1><%=data.name%></h1>
    <h3>Instructor: <%=data.Instructor.full_name%></h3>
    <p><%=data.description%></p>
    <button onclick="window.history.back()">Back to Course's List</button><br><br>
    <table border="1">
        <thead>
            <tr>
                <th>No.</th>
                <th>Chapter</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
            <%let counter = 1%>
           <%data.Chapters.forEach(item => {%>
                <tr>
                    <td><%=counter%></td>
                    <td><%=item.name%></td>
                    <td><%=item.content%></td>
                </tr>
                <%counter++%>
            <%})%>
        </tbody>
    </table>
</body>
</html>