<%-include (`../headerLogin`, {title: `Student's Page`, linkCourse: `/students/courseList`, linkHome: ``,statusHome: ``, statusCourse: `active`})%>
    <h1>Courses Available</h1>
   <br>
    <table class = "table">
        <thead class="thead-dark">
            <tr>
                <th>No.</th>
                <th>Course</th>
                <th>Instructor</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <%let counter = 1%>
           <%data.forEach(item => {%>
                <tr>
                    <td><%=counter%></td>
                    <td><%=item.name%></td>
                    <td><%=item.Instructor.full_name%></td>
                    <td>
                        <a class="btn btn-success btn-sm" role="button" href="/students/chapterList/<%=item.id%>">Course Detail</a>
                    </td>
                </tr>
                <%counter++%>
            <%})%>
        </tbody>
    </table>
    <button onclick="window.history.back()" class="btn btn-secondary my-2 my-sm-0">Back to your Active Courses</button>   
    <%-include (`../script`)%>
    <%-include (`../footer`)%>