<%-include (`../headerLogin`, {title: `Student Home`, linkCourse: `/students/courseList`, linkHome: `/students/${data.id}`, statusHome: `active`, statusCourse: ``})%>
    <h1>Welcome back, <%=data.first_name%></h1><br>
    <a href="/students/chatRoom/<%=data.id%>" class="btn btn-secondary my-2 my-sm-0"> Chat Room </a> <br> <br>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>No.</th>
                <th>Course Taken</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <%let counter = 1%>
           <%data.Courses.forEach(item => {%>
                <tr>
                    <td><%=counter%></td>
                    <td><%=item.name%></td>
                    <td><%=item.description%></td>
                    <td>
                        <a href="/students/activeCourse/<%=item.id%>" class="btn btn-success btn-sm" role="button">Open Course</a>
                        <a href="/students/course/delete/<%=item.id%>/<%=data.id%>" role="button" class="btn btn-danger btn-sm">delete</a>
                    </td>
                </tr>
                <%counter++%>
            <%})%>
        </tbody>
    </table><br>
    <a href="/students/courses/add/<%=data.id%>" class="btn btn-primary my-2 my-sm-0" role="button">Take New Course</a>
    <%-include (`../script`)%>
    <%-include (`../footer`)%>