<%-include (`../headerLogin`, {title: `Student's Page`, linkCourse: `/students/courseList`, linkHome: `/students/${StudentId}`,statusHome: `active`, statusCourse: ``})%>
    <h1><%=data.name%></h1>
    <h3>Instructor: <%=data.Instructor.full_name%></h3>
    <table class = "table">
        <thead class="thead-dark">
            <tr>
                <th>No.</th>
                <th>Chapter</th>
                <th>Content</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <%let counter = 1%>
            <%data.Chapters.forEach(item => {%>
                <tr>
                    <td><%=counter%></td>
                    <td><%=item.name%></td>
                    <td><%=item.content%></td>
                    <td>
                        <a href="#" class="btn btn-success my-2 my-sm-0" role="button">Learn</a>
                    </td>
                </tr>
                <%counter++%>
                <%})%>
            </tbody>
        </table>
        <button onclick="window.history.back()" class="btn btn-secondary my-2 my-sm-0">Back to your Active Courses</button>
    <%-include (`../script`)%>
    <%-include (`../footer`)%>