<%-include (`../headerLogin`, {title: `Add New Course`, linkCourse: `/courses`, linkHome: `/courses/dashboard`, statusHome: ``, statusCourse: `active`})%>
    <h1> Add Course</h1>
    <%if (error) {%>
        <div>
        <%=error%>
        </div>
    <%}%>
    <br>
    <a href="/courses" class="btn btn-secondary my-2 my-sm-0" role="button"> Back to Course's List </a> <br> <br>
    <form action="/courses/addCourse" method="POST">
        Course name : <br> 
        <input name="name"> <br><br> 
        Description : <br> 
        <input name="description"> <br><br> 
        Instructor: <br> 
        <select name="instructor">
            <option selected disabled> -- select instructor -- </option>
            <% instructor.forEach(item => { %>
            <option value="<%= item.dataValues.id %>"> <%= item.dataValues.full_name %>  </option>
            <% }) %>

        </select> <br><br>
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Add Course</button>
    </form>
</head>
<body>
    
    <%-include (`../script`)%>
    <%-include (`../footer`)%>