<%-include (`../headerLogin`, {title: `Edit Course`, linkCourse: `/courses`, linkHome: `/courses/dashboard`, statusHome: ``, statusCourse: `active`})%>
    <h1> Edit Course </h1><br>
    <%if (error) {%>
        <div>
        <%=error%>
        </div>
    <%}%>
    <a href="/courses" class="btn btn-secondary my-2 my-sm-0" role="button"> Back to Course's List </a> <br> <br>
    <form action="/courses/editCourse/<%= course.id %>" method="POST">
        Course name : <br> 
        <input name="name" value="<%=course.name%>" > <br><br> 
        Description : <br> 
        <input name="description" value="<%=course.description%>" > <br><br> 
        Instructor: <br> 
        <select name="instructor" >
            <% instructor.forEach(item => { %>
            <option value="<%= item.dataValues.id %>" <%= (course.InstructorId == item.id) ? "selected" : "" %> > <%= item.dataValues.full_name %>  </option>
            <% }) %>
        </select> <br><br>
        <button type="submit" class="btn btn-primary my-2 my-sm-0">Update Course</button>
    </form>

    <br>
    <hr>
    <h3> Chapter Details </h3>
    
    <br>
    
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>content</th>
            </tr>
        </thead>
        <tbody>
            <%course.Chapters.forEach( item => { %>
            <tr>
                <td><%= item.id %> </td>
                <td><%= item.name %> </td>
                <td><%= item.content %> </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <br>
    <%if (warning) {%>
        <div>
        <%=warning%>
        </div>
    <%}%>
    <h5>Add Chapters</h5>
    <form action="/courses/addChapter/<%= course.id %>" method="POST">
        Chapter name : <br> 
        <input name="name" > <br><br> 
        Content : <br> 
        <input name="content" > <br><br> 
        <button type="submit" class="btn btn-primary my-2 my-sm-0">Add Chapter</button>
    </form>

    
    <%-include (`../script`)%>
    <%-include (`../footer`)%>