<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Manage Courses </title>
</head>
<body>
    <h3> Manage Courses </h3>
    <a href="/courses/dashboard"> back to dashboard </a> <br> <br>
    <a href="/courses/addCourse"> Add Course </a> <br> 
    <table border=1>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Instructor Name</th>
            <th>Actions</th>
        </tr>
        <% data.forEach( course => { %>
        <tr>
            <td> <%= course.id %> </td>
            <td> <%= course.name %> </td>
            <td> <%= course.description %> </td>
            <td> <%= course.Instructor.full_name %> </td>
            <td> 
                <a href="/courses/showCourse/<%=course.id%>" > Show </a> | 
                <a href="/courses/editCourse/<%=course.id%>" > Edit </a> | 
                <a href="/courses/deleteCourse/<%=course.id%>" > Delete </a>
            </td>
        </tr>
        <% }) %>


    </table>
    
</body>
</html>